.loginform,.addnewform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: auto;
    border: 2px solid #ddd;
    margin-top: 10%;
}
.loginform,.addnewform h2{
    margin: auto;

}
.loginform ,.addnewform input[type="text"],
input[type="password"],input[type="number"],input[type="date"]{
    width: 40%;
    height: 30px;
    margin: auto;

}
.loginform, .addnewform input[type="submit"]{
    padding: 10px 10px;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color:white;
    cursor:pointer
}